Django==2.2.14
setuptools
psycopg2
django-heroku
djangorestframework==3.12.4
gunicorn
Pillow
whitenoise
openpyxl
django-bootstrap4
django-bootstrap-modal-forms
numpy
keyring
keyrings.alt
myfitnesspal
django-encrypted-model-fields
django-q