/* Medium Devices, Desktops */


/* @media only screen and (max-device-width: 768px) {}

@media only screen and (min-device-width: 768px) {} */


/* .dateSelectTable{
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: auto;
    margin-left: auto;
}

.date{
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 18px;
} */
.content-backing {
    right: -16px !important;
    width: auto;
}

.graph-display {
    position: relative;
    /* background-color: pink; */
    width: 100%;
    height: 100%;
    display: flex;
}
.graph-wrapper {
    width: 100%;
    height: 95%;
    /* display: flex; */
}
    
.y-axis {
    width: fit-content;
    height: 100%;
    color:#cfcfcf;
    position: relative;
    padding-bottom: 4%;
    padding-right: 10px;
}
.y-selector{
    padding-top: 1%;
    height: 8%;
    width: 55px;
}
.y-arrow{
    display: inline-block;
    font-size: 12px !important;
    text-align: center;
}
.color-marker{
    display: inline-block;
    width:11px;
    height:11px;
    border-radius: 50%;
    margin-bottom: 12px;
}
.graphContent{
    width: 100%;
    display: block;
    height: 100%;
    position: relative;
    border-bottom: 1vh;
    border-left: 1vh;
    border-right: 0;
    border-top: 0;
    border-color: rgb(99, 99, 99);
    border-style: solid;
    border-radius: 0.5vh;
}
.line-chart {
    list-style: none;
    margin: 0;
    padding: 0;
}

.label-value {
    height: 10%;
    width: fit-content;
    display: block;
    /* position: absolute; */
    /* left: 0; */
    bottom: var(--xPos);
}

/* Each point on the chart, each a 12px circle with a light border */
.data-point {
    border: 2px solid rgb(231, 231, 231);
    border-radius: 50%;
    height: 16px;
    position: absolute;
    width: 16px;
    z-index: 3;
}

.line-segment {
    background-color: blue;
    height: 3px;
    position: absolute;
}
    
.data-label {
    background-color: rgb(201, 201, 201);
    border-radius: 3px;
    padding: 5px;
    vertical-align: top;
    position: absolute;
    left: calc(var(--yPos) + 10px);
    bottom: calc(var(--xPos) - 30px);
    display: none;
    z-index: 4;
}
.dayLabelWrapper {
    display:block;
    font-family: 'Orbitron';
    color:rgb(192, 192, 192);
    width: 100%;
    height: 5%;
    /* background-color: blue; */
    position: relative;
    display: block;
    padding-left: 5px;
    padding-top: 10px;
}
.dayLabel{
    position: relative;
    display: inline-block;
    margin: 0 !important;
    width: 13.8%;
    text-align: center;
}

/* tools */
.graph-tools{
    width: calc(40.5%);
    /* background-color: #dddbdb; */
    float: right;
    height: 50px;
    line-height: 35px;
    /* overflow: hidden; */
}

.graph-week-selector{
    background-color: #636363;
    height: 35px;
    width: 300px;
    float: right;
    /* margin-left: 170px; */
    border-radius: 10px; 
    text-align: center;
    color: #a7a7a7;
    overflow: hidden;
}
.fa-chevron-left{
    cursor: pointer;
    float: left;
    /* font-size: 20px; */
    line-height: 35px;
    padding-left: 10px;

}
.week-display{
    display: inline-block;
    font-family: 'Orbitron';

}
.fa-chevron-right{
    cursor: pointer;
    float: right;
    /* font-size: 20px; */
    line-height: 35px;
    padding-right: 10px;
}
.fa-chevron-left:hover{
    color:#cfcfcf;
}
.fa-chevron-right:hover{
    color:#c9c9c9;
}
.custom-select-data{
    float:right;
    margin-left:20px;
}
/* SIDE OPTIONS */
.side-opts-tabs {
    position: relative;
    width: fit-content;
    height: 100%;
    font-size: 0;
}

.tabs {
    position: relative;
    /* display: inline-block; */
    float: left;
    height: 100%;
    color: rgb(201, 201, 201);
    font-size: 20px;
}

.tab {
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #808080;
    text-align: center;
    line-height: 30px;
}

.side-content {
    position: relative;
    font-size: 20px;
    width: fit-content;
    height: 100%;                                                       
    background-color: #808080;
    border-bottom-left-radius: 5px;
}

.side-title {
    font-family: 'Orbitron';
    text-align: center;
    padding: 10px 0;
    color: #1f1f1f;
}                                                                                                               

.side-divider {
    margin: 0 5px;
    height: 1px;
    background-color: #c9c9c9;
}

.group-field {
    padding: 5px 10px;
    display: flex;
    width: auto;
    line-height: 25px;
}

.field-name {
    display: inline-block;
    width: auto;
    overflow: hidden;
    flex: 8;
    margin-left: 5px;
    color: #363636;
    /* line-height: 25px; */
}

.checkbox-wrapper {
    float: inline-end;
    width: 20px;
    height: 20px;
    flex: 1;
    position: relative;
}



.field-checkbox {
    width: 20px;
    height: 20px;
    margin: 0;
    /* background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
    margin: 20px auto;

    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); */
    position: relative;
}

.alertWait{
    display:none;
    width: 20%;
    margin-left: 47.5%;
    /* height: 50px; */
    position:absolute;
    background-color:rgb(112, 112, 112);
    color:#f1f1f1;
    top: 50;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 25px;
  }

