/*--------------------------------------------------------------------------------------------------------------------*/
/* custom dropdown */
/*--------------------------------------------------------------------------------------------------------------------*/
.custom-select{
    height : 34px;
    width: 160px;
    border-radius: 17px;
    background-color: rgb(109, 109, 109);
    color: #f4eb49;
    position: relative;
    /* display: inline-block; */
    float: right;
    border: none;
    outline: none;
    vertical-align: middle;
    padding: 0!important;
    margin-right: 5px;
}
.custom-select:after{
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #bdbdbd;
    right: 10px;
    top: 0px;
    height: 34px;
    padding: 9px 0px 0px 8px;
    border-left: 1px solid #bdbdbd;
    position: absolute;
    pointer-events: none;
}
.custom-select:hover{
    background-color: rgb(117, 117, 117);
  } 
.custom-select select {
display: none; /*hide original SELECT element: */
}

.select-selected {
    padding-top: 1px;
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
    padding-left: 10px;
}

/* Point the arrow upwards when the select box is open (active): */


/* style the items (options), including the selected item: */
.select-items div {
color: #dfdfdf;
height:34px;
line-height: 34px;
vertical-align: middle;
text-align: center;
border: none;
border-radius: 5px;
cursor: pointer;
}

/* Style items (options): */
.select-items {
position: absolute;
background-color: rgb(117, 117, 117);
top:40px;
left: 0;
right: 0;
z-index: 99;
border-radius: 5px;
}

/* Hide the items when the select box is closed: */
.select-hide {
display: none;
}

.select-items div:hover{
background-color: rgb(125, 125, 125);
color: #f4eb49;
}
.same-as-selected {
    background-color: rgb(125, 125, 125);
    color: #f4eb49;
}