.content {
    padding-top: 5px !important;
    padding-right: 0 !important;
    padding-left: 16px !important;
    padding-bottom: 16px !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Top Bar */
/*--------------------------------------------------------------------------------------------------------------------*/
.topBarPhaseSelector {
    width: 100%;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
}



/* Day selector */
.day-selector-wrapper{
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
    white-space: nowrap;
    width: 100%;
    height: 30px;
    text-align: center;
    margin-bottom: -25px;
}
.day-selector-wrapper::-webkit-scrollbar {
    display: none;
}
.addDayButton:hover{
    color: rgb(190, 190, 190);
    background-color: rgb(128, 128, 128);
}
.day-tile{
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    color:#444444;
    background-color: rgb(105, 105, 105);
}
.selected-day{
    color: #f4eb49;
    background-color: rgb(117, 117, 117);
}
.selected-day:hover{
    color: #f4eb49;
    background-color: rgb(105, 105, 105);
}
.unselected-day{
    background-color: rgb(109, 109, 109);
    color: #cccccc;
}
.day-tile-word{
    display: inline-block;
    line-height: 30px;
}
.day-tile-num{
    display: inline-block;
    line-height: 30px;
}

/* alerts */
.alertPopupError{
    width: 20%;
    margin-left: 47.5%;
    height: 25px;
    position:absolute;
    background-color:rgb(161, 86, 86);
    top: 50;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 25px;
  }

.alertPopupSuccess{
    width: 20%;
    margin-left: 47.5%;
    height: 25px;
    position:absolute;
    background-color:rgb(63, 109, 77);
    color:#bebebe;
    top: 50;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 25px;
  }

.alertPopupAccept{
    width: 20%;
    margin-left: 47.5%;
    height: 55px;
    position:absolute;
    background-color:rgb(134, 134, 134);
    /* border-bottom: 3px solid #3E3E3E;
    border-left: 3px solid #3E3E3E;
    border-right: 3px solid #3E3E3E; */
    box-shadow: #000000 0px 0px 6px 0px;
    color:#252525;
    top: 50;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 25px;
    animation: slideB 1s;
}



/*--------------------------------------------------------------------------------------------------------------------*/
/* Phase/Week content */
/*--------------------------------------------------------------------------------------------------------------------*/
.phaseContent {
    display: flex;
    width: 100%;
    height: 93%;

    position: relative;
    flex-direction: column;
    border-radius: 5px;
    top: 35px;

}

.phaseContentWrapper {
    position: relative;
    display: block;

    border-radius: 5px;
    padding-bottom: 16px;
}



/*--------------------------------------------------------------------------------------------------------------------*/
/* content Title */
/*--------------------------------------------------------------------------------------------------------------------*/
.contentTitle {
    height: 25px;
    line-height: 25px;
    width: 30%;
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-left: 35%;
    /* Centers Title */
    background-color: #787878;
    border-radius: 5px;
    color: black;
    text-align: center;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* table */
/*--------------------------------------------------------------------------------------------------------------------*/
.tableWrapper {
    width: 100%;

}

.dayTable {
    padding-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 0 1pt #787878;
    background-color: #9C9C9C;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.addEntryButton {
    border: none;
    background-color: #787878;
    border-radius: 5px;
    box-shadow: 0 0 0 1pt #5c5c5c;
    margin-bottom: 2px;
}

.addEntryButtonWrapper {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.exerciseCell {
    text-align: left;
    padding-left: 5px;
}


/*--------------------------------------------------------------------------------------------------------------------*/
/* day selector */
/*--------------------------------------------------------------------------------------------------------------------*/
.multiselect {
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;
    width: 120px;
    float: right;
    background-color: transparent;
}

.selectBox {
    border-radius: 5px;
    position: relative;
    background-color: transparent;
}

.innerSelectBox {
    height: 25px;
    border-radius: 5px;
    position: relative;
    background-color: #787878;
}

.innerSelectBox:hover {
    background-color: #5e5e5e;
}

.selectBox select {
    text-align: center;
    width: 100%;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

#checkboxes {
    width: 120px;
    position: absolute;
    display: none;
    border: none;
    background-color: #787878;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
    z-index: 2;
}

.dayOption {
    display: none;
    background-color: #787878;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dayOption:hover {
    background-color: #888888;
}

.dayTitle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
    background-color: #585858;
    border-radius: 5px;
    color: #f4eb49;
}

.completedSetsTitle {
    margin-left: 35%;
    background-color: #787878;
    border-radius: 5px;
    width: 30%;
}

.setNameCell {
    text-align: center;
    width: 33%;
}

.setNameCellInner {
    text-align: center;
    width: 50%;
    background-color: #787878;
    margin-left: 25%;
    border-radius: 5px;
}

.setCell {
    width: 16.5%;
    padding: 0;
}

.setCellLabel {
    background-color: #787878;
    width: 50%;
    margin-left: 50%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

.setCellValue {
    background-color: #888888;
    width: 95%;
    height: 21px;
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.exerciseCard {

    height: 80px;
    background-color: #787878;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    display: block;
}

.imageBox {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 2pt 0.5pt #f4eb49;
    display: inline-block;
}

.cropImage {
    margin-left: -35px;
    margin-top: -17.5px;
    /*object-fit: cover;*/
    width: 140px;
    height: 105px;

}

.exerciseBox {
    position: relative;
    vertical-align: top;
    bottom: 0;
    width: 250px;
    height: 70px;
    display: inline-block;
    padding-top: 22.5px;
    margin-left: 5px;
}

.exerciseBoxInner {
    /*display: block;*/
    background-color: #585858;
    text-align: center;
    line-height: 25px;
    width: 250px;
    height: 25px;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    color: #f4eb49;
}

.exerciseContent {
    display: inline-block;
    position: relative;
    vertical-align: top;

    height: 70px;
    width: calc(100% - 345px);
}

.exerciseContentItem {
    display: inline-block;
    width: 20.5%;
    margin-left: 0;
    padding: 0 !important;
    height: 25px;
}

.exerciseContentLabel {
    display: inline-block;
    width: 12%;
    margin-right: -4px;
    height: 25px;
}

.itemLabel {
    background-color: #585858;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    margin-right: 0 !important;
    padding-right: 0 !important;
    font-size: 12px;
    line-height: 25px;
}

.itemValue {
    background-color: #686868;
    height: 21px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    margin-left: 0 !important;
    padding-left: 0 !important;
    font-size: 12px;
    line-height: 25px;
    height: 25px;
}

.exerciseContentUpper {
    height: 35px;
    margin-top: 5px;
}

.exerciseContentLower {
    height: 35px;
    margin-bottom: 5px;
}

.commentBox {
    width: 100%;
    background-color: #585858;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
}

.table-striped {
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100% - 10px);
}

.difficulty {
    width: 200px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.difficultyLabel {
    display: inline-block;
    background-color: #585858;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 120px;
    text-align: center;
    margin-right: -4px;
}

.difficultyValue {
    background-color: #787878;
    width: 50px;
    display: inline-block;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.feedbackLabel {
    display: inline-block;
    background-color: #585858;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 90px;
    text-align: center;
    margin-right: -4px;
}

.feedbackValue {
    background-color: #888888;
    display: inline-block;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: calc(100% - 90px);
}