{% extends "trainerInterface/nav.html" %}
{% load static %}
{% load my_filters %}
{% block content %}
    <style>
    .groupContainer {
        position: relative;


    }
    .groupRow {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(19%, 1fr));
        grid-gap: 1rem;
        width: calc(70vw);
        border-spacing: 15px; /*Optional*/
        padding-bottom: calc(5vh);

    }
    .groupBox {
        padding-top: 1%;
        padding-bottom: 1vw;
        border-radius: 10px;
        {#width: 200%;#}
        height: 16.85vw;

        display: flex;
        position: relative;
        background-color: rgba(0, 0, 0, 0.3);
        justify-content: center;     /* added for centered text */
        align-items: center;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
    }
        .addgroupBox {

        height: 16.85vw;
        display: flex;
        position: relative;
        background-color: rgba(0, 0, 0, 0.3);
        justify-content: center;     /* added for centered text */
        align-items: center;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .groupBox::-webkit-scrollbar {
        width: 16px;
        background-color: rgba(0, 0, 0, 0);
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }

    .groupContent {
        position: relative;
        top: 0.4vw;
        left: 0;
        height: 100%;
        width: 100%;
        display: table-column;
        margin: auto;
        justify-content: center;     /* added for centered text */
        align-items: center;

        /* added for centered text */

    }
    .groupContentTitle {
        position: relative;
        display: flex;
        margin: auto;
        justify-content: center;     /* added for centered text */
        align-items: center;
        width: 100%;
        padding-bottom: 0.4vw;
    }
    .ContentTitle {
        position: relative;
        display: flex;
        margin: auto;
        justify-content: center;     /* added for centered text */
        align-items: center;
        border-radius: 5px;
        width: 50%;
        border-color: rgba(0, 0, 0, 0.3);
        background-color: rgba(0, 0, 0, 0.3);
    }
    .groupContentTable{
        position: relative;
        margin: auto;
        justify-content: center;     /* added for centered text */
        align-items: center;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.4);
        width: 95%;
        margin-bottom: 0.4vw;

    }
    .groupBottomSpacer{
        height: 0.5vw;
    }
    .groupContentRow{

    }
    .groupContentCell{
        display: table-cell;
        width: 50%;
    }
    .groupContentName{
        padding-left: 2%;
    }
    .groupContentToggle{
        text-align: right;
        padding-right: 2%;
    }
    .addGroupButton {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.3);
        position: relative;

        width: calc(5vw);
        height: calc(5vw);
        border-radius: 10px;
        font-size: 36px;
        text-align: center;
        margin: auto;
        justify-content: center;     /* added for centered text */
        align-items: center;
    }
    .addIcon {
        {#top: 47%;#}
        {#transform: translateY(-50%);#}
        position: relative;
        margin: auto;
        justify-content: center;     /* added for centered text */
        align-items: center;
        font-size: 3.5vw;
    }
    .bg-modal{
        left:   0;
        top:    0;
        bottom: 0;
        width: 100%;
        height: calc(100vh - 45px);
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal-content{
        position: relative;
        display:flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-top: calc(1vw);
        margin-left: auto;
        margin-right: auto;
        width: calc(21vw);
        min-height: calc(21vw);
        max-height: calc(25vw);
        background-color:  #ababab;
        border-radius: 5px;
        align-items: center;
        {#justify-content: center;#}

    }
    .modal-content::-webkit-scrollbar {
        width: 16px;
        background-color: #ababab;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
    .close_addentry{
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        position: absolute;
        top: -4px;
        left: 10px;
        font-size: 32px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }

    .submitContainer{
        background-color: #0b2e13;
        align-items: center;
        display: inline;
    }
    .submit_add_form{
        position: relative;
        margin-right: auto;
        left: 31%;
        width: 38%;
        margin-top: 0.5vw;
    }
    #groupname{
        position: relative;
        display: flex;
        margin: auto;
        justify-content: center;     /* added for centered text */
        align-items: center;
        border-radius: 5px;
        margin-left: 3.5vw;
        width: 70%;
        text-align: center;
        border: none;
        {#text-decoration-color: #0f0f0f;#}

        background-color: rgba(0, 0, 0, 0.3);
    }
    #groupname:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #787878 inset !important;
        background-color: rgba(0, 0, 0, 0.3);
    }
    #groupname::placeholder{
        color: lightgrey;
    }
    .addgroup{
        {#margin-left: 1vw;#}

    }
    .add_field_button{
        position: relative;
        border-color: rgba(0, 0, 0, 0.3);
        background-color: rgba(0, 0, 0, 0.3);
        color: #0e0e0e;
        width: 2vw;

    }
    .addfieldbutton{
        position: relative;
        border-color: rgba(0, 0, 0, 0.3);
        background-color: rgba(0, 0, 0, 0.3);
        color: #0e0e0e;
        width: 2vw;
        left: 8vw;
        margin-top: 0.5vw;
    }
    .clear_field_button{

        border-color: rgba(0, 0, 0, 0.3);
        background-color: rgba(0, 0, 0, 0.3);
        color: #0e0e0e;
        width: 2vw;

    }
    .clearFieldButton{
        border-color: darkred;
        background-color: darkred;
        height: 1.6vw;
        font-size: 1.1rem;
        padding: .1rem .4rem;
        line-height: .5;
        border-radius: .2rem;
    }
    .addGroupContent{
        position: relative;
        width: 18vw;
        margin-left: 1vw;
        margin-top: 0.4vw;
    }
    .addGroupTable{
        position: relative;
        margin: auto;
        justify-content: center;     /* added for centered text */
        align-items: center;
        border-radius: 5px;
        background-color: #CDCDCD;
        width: 100%;
        height: 1vw;
    }
    .addGroupRow{

    }
    .addGroupCell{
        position: relative;
        display: table-cell;
        width: 9vw;
    }

    .inputField{
        margin-right: 0.3vw;
    }
    #fieldname{
        position: relative;
        display: flex;
        margin: auto;
        justify-content: center;     /* added for centered text */
        align-items: center;
        border-radius: 5px;
        margin-right: 0.3vw;
        text-align: center;
        border: none;
        outline: none;
        {#text-decoration-color: #0f0f0f;#}

        background-color: rgba(0, 0, 0, 0.3);
    }
    {##fieldname:focus:active{#}
    {#    outline: none;#}
    {#}#}
    #fieldname:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #787878 inset !important;
        background-color: rgba(0, 0, 0, 0.3);
    }
    #fieldname::placeholder{
        color: lightgrey;
    }
    .btn-group-xs > .btn, .btn-xs {
      padding: .1rem .4rem;
      font-size: 0.9rem;
      line-height: .5;
      border-radius: .2rem;

    }
    </style>
    <div class="groupContainer">
        <div class="groupRow">
            {% for group in groups %}
                <div class="groupBox">
                    <div class="groupContent">
                        <div class="groupContentTitle">
                            <div class="ContentTitle">
                                {{ group.name }}
                            </div>
                        </div>


                        {% for field in group.textfields.all %}
                            <table class = "groupContentTable">
                                <tr class = "groupContentRow">
                                    <td class = "groupContentCell groupContentName">
                                        {{ field.name }}
                                    </td>
                                    <td class = "groupContentCell groupContentToggle">

                                         {% if selected_client|is_in:field.clientToggle.all %}
                                            <i class="far fa-check-circle" style="color: green"></i>
                                         {% else %}
                                            <i class="far fa-times-circle" style="color: darkred"></i>
                                         {% endif%}

                                    </td>
                                </tr>
                            </table>
                        {% endfor %}
                        <div class="groupBottomSpacer">
                        </div>

                    </div>
                </div>
            {% endfor %}
            <div class="groupBox addgroupBox">
                <div class="addGroupButton" onclick="toggleAddEntry()"><div class="addIcon">+</div>
                </div>
            </div>
        </div>
    </div>
<div class="bg-modal" id ="add-entry-modal"style="display: none;">
    <div class="modal-content">
        <div class="close_addentry">+</div>

        <form id = "add-group-form" class = "add-group-form" method="post">
            <div class="addgroup">
                {{ addGroupForm }}
            </div>
            <div class = "addGroupContent" id="fields">
                <table class="addGroupTable" id="field-0">
                    <tr class = "addGroupRow">
                        <td >
                            <input class = "addGroupCell inputField" type="text" id="fieldname" placeholder="Field Name">
                        </td>
                        <td class = "addGroupCell">
                            <select class="btn btn-secondary btn-xs dropdown-toggle" name="fieldSelect" id="fieldSelect">
                                <option value="text">text</option>
                                <option value="number">number</option>
                            </select>
                        </td>
                        <td class="addGroup" style="">
                            <button type="button" onClick="removeDiv(this)" class="clearFieldButton btn btn-secondary">&times</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class = "addGroupContent">
                <table class="addGroupTable" >
                    <tr class = "addGroupRow">
                        <td >
                            <div class="addfieldbutton"><button class="add_field_button btn btn-sm btn-secondary">+</button></div>
                        </td>
                        <td >
                            <input  class="submit_add_form" type="submit" name="submit" value="submit">
                        </td>
                    </tr>
                </table>
            </div>


        </form>

    </div>
</div>

<script src="{% static '/assets/js/jquery.min.js' %}"></script>
<script src="/static/assets/js/popper.js"></script>
<script src="{% static '/assets/js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="{% static '/bootstrap/js/bootstrap.js' %}"></script>
<script type="text/javascript">
        var x = document.getElementById("add-entry-modal");
       x.style.display = "none";
        var addFieldCount = 0;
        function toggleAddEntry() {
            var x = document.getElementById("add-entry-modal");
            if (x.style.display === "none" || x.style.display) {
              x.style.display = "flex";
            } else {
              x.style.display = "none";
            }
        }
        $('.close_addentry').on('click', function(e) {
          var x = document.getElementById("add-entry-modal");
          x.style.display = "none";
        });
        function removeDiv(elem){
            var parent = $(elem).parent().parent().parent().parent();
            console.log(parent.attr("id"));
            if (parent.attr("id") != "field-0") {
                parent.remove();
            }

        }

        $('.bg-modal').on('click', function(e) {
          if (e.target !== this)
            return;
          var x = document.getElementById("add-entry-modal");
          x.style.display = "none";
        });
        $('.add_field_button').on('click', function(e) {
          e.preventDefault();
          var x = $("#fields");
          var table = $("#field-0").clone(true);

          addFieldCount = addFieldCount + 1;
          newID = "field-"+addFieldCount;
          table.attr("id",newID);
          table.appendTo(x);

        });
        $('.add-group-form').on('submit', function(e){
         e.preventDefault();
            var fieldnames = $("[id=fieldname]").map(function() {
                return $(this).val();
            }).get();
            var classifications = $("[id=fieldSelect]").map(function() {
                return $(this).val();
            }).get();
            console.log(classifications)
            fieldnames = JSON.stringify({fieldnames });
            classifications = JSON.stringify({classifications });
           $.ajax({
                type : "POST",
                url: "{% url 'add_group' %}",
                data: {

                 name : $('#groupname').val(),
                 fieldnames: fieldnames,
                 classifications: classifications,
                 csrfmiddlewaretoken: '{{ csrf_token }}',
                 dataType: "json",
                },
                success: function(data){
                    location.reload();
                },
                failure: function() {
                }
            });

           {#window.location.reload();#}
           {#var x = document.getElementById("add-entry-modal");#}
           {#x.style.display = "none";#}
        });
    </script>
    <script src="https://kit.fontawesome.com/d4150a90f9.js" crossorigin="anonymous"></script>
{% endblock content%}
