{% load static %}
{% load my_filters %}

<script src="{% static 'js/dataTracking.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/dataTracking.css' %}">
<div class="groupContainer">

    <div class="groupRow">
        {% for group in groups %}
        <div class="groupBox" onclick="toggleEditEntry( {{ forloop.counter0 }} )">
            <div class="groupContent">
                <div class="groupContentTitle">
                    <div class="ContentTitle">
                        {{ group.name }}
                    </div>
                    <div class="group-toggle-wrapper">
                        {% if selected_client|is_in:group.clientToggle.all %}
                        <i class="fas fa-toggle-on group-toggle" style="color: green" id="{{ group.id }}"></i>
                        {% else %}
                        <i class="fas fa-toggle-off group-toggle" style="color: darkred" id="{{ group.id }}"></i>
                        {% endif%}
                    </div>
                </div>



                {% for field in group.textfields.all %}
                <table class="groupContentTable">
                    <tr class="groupContentRow">
                        <td class="groupContentCell groupContentName">
                            {{ field.name }}
                        </td>
                        <td class="groupContentCell groupContentToggle">

                            {% if selected_client|is_in:field.clientToggle.all %}
                            <i class="fas fa-toggle-on field-toggle" style="color: green" id="{{ field.id }}"></i>
                            {% else %}
                            <i class="fas fa-toggle-off field-toggle" style="color: darkred" id="{{ field.id }}"></i>
                            {% endif%}

                        </td>
                    </tr>
                </table>
                {% endfor %}
                <div class="groupBottomSpacer">
                </div>

            </div>
        </div>
        {% endfor %}
        <div class="groupBox addgroupBox">
            <div class="addGroupButton" onclick="toggleAddEntry()">
                <div class="addIcon">+</div>
            </div>
        </div>
    </div>

</div>
<div class="bg-modal" id="add-entry-modal" style="display: none;">
    <div class="modal-content">
        <div class="close_addentry">+</div>

        <form id="add-group-form" class="add-group-form" method="post">

            <div class="addGroupTitle">
                {{ addGroupForm }}
            </div>
            <div class="addGroupContent" id="fields">
                <table class="addGroupTable" id="field-0">
                    <tr class="addGroupRow">
                        <td class="addGroupCellInput">
                            <input class="inputField fieldname" type="text" id="fieldname" placeholder="Insert Name">
                        </td>
                        <td class="addGroupCellSelect">
                            <select class="dropdown-toggle selectField" name="fieldSelect" id="fieldSelect">
                                <option value="text">text</option>
                                <option value="number">number</option>
                            </select>
                        </td>
                        <td class="addfieldToggle fieldToggle" style="" onclick="changeFieldToggle(this)"
                            id="fieldToggle">
                            <i class="fas fa-toggle-on" style="color: green" aria-hidden="true"></i>
                        </td>
                        <td class="addGroupCellRemove" style="">
                            <i class="far fa-times-circle" style="color: darkred" onClick="removeDiv(this)"></i>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="submitGroupContent">
                <table class="submitGroupTable">
                    <tr class="addGroupRow">
                        <td class="addFieldButtonCell">
                            <input class="add_field_button " type="button" value="Add Field">
                        </td>
                        <td class="submitFieldCell">
                            <input class="submit_add_form" type="submit" name="submit" value="Submit">
                        </td>
                    </tr>
                </table>
            </div>


        </form>

    </div>
</div>
<div class="bg-modal" id="edit-group-modal" style="display: none;">
    <div class="modal-content" id="edit-modal-content">
        <div class="close_addentry">+</div>

        {% for group in groups %}
        <form id="edit-group-form-{{ forloop.counter0 }}" class="edit-group-form-{{ forloop.counter0 }}"
            style="display: none;" method="post">

            <div class="editGroupTitle" id="editGroup">
                <input class="inputField groupname edit-group-name-{{ forloop.counter0 }}" type="text"
                    id="{{ group.id }}" value='{{ group.name }}'>
            </div>
            <div class="addGroupContent" id="editfields-{{ forloop.counter0 }}">
                {% for field in group.textfields.all %}
                <table class="addGroupTable" id="{{ field.id }}">
                    <tr class="editFieldRow">
                        <td class="editFieldInput">
                            <input class="inputField fieldname" type="text" id="editfieldname" value='{{ field.name }}'>

                        </td>
                        <td class="editfieldSelect">
                            <select class="dropdown-toggle selectField" name="editfieldSelect" id="editfieldSelect">
                                {% if field.type %}
                                <option value="text">text</option>
                                <option value="number" selected="selected">number</option>
                                {% else %}
                                <option value="text" selected="selected">text</option>
                                <option value="number">number</option>
                                {% endif %}
                            </select>
                        </td>
                        <td class="editfieldToggle editfieldToggle-{{ forloop.parentloop.counter0 }}" style=""
                            onclick="changeFieldToggle(this)" id="editfieldToggle-{{ forloop.counter0 }}">
                            {% if selected_client|is_in:field.clientToggle.all %}
                            <i class='fas fa-toggle-on' style='color: green'></i>
                            {% else %}
                            <i class='fas fa-toggle-off' style='color: darkred'></i>
                            {% endif %}
                        </td>
                        <td class="editFieldRemove">
                            <i class="far fa-times-circle" style="color: darkred" onClick="removeDivEdit(this)"></i>
                        </td>
                    </tr>
                </table>
                {% endfor %}

            </div>


        </form>


        {% endfor %}
        <div class="submitGroupContent">
            <table class="submitGroupTable">
                <tr class="addGroupRow">
                    <td class="addFieldButtonCell">
                        <input class="add_field_button1 " type="button" value="Add Field">
                    </td>
                    <td class="submitFieldCell">
                        <input class="submit-edit-button" id="submit-edit-button" type="button" value="Submit">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>