{% load static %}
{% load my_filters %}

{% block content %}

<script src="{% static 'js/exercises.js' %}"></script>


<div class="table-wrapper">
    {% for item in exercises %}
    <div class="exercise-card">
        <div class="exercise-card-content">
            <div class="exercise-image">
                <img class="cropImage" height="150" src="https://img.youtube.com/vi/{{ item.video|sliceVideo }}">
            </div>
            <div class="exercise-title-wrapper editable" id="{{ item.id }}">
                <div class="exercise-title">{{ item.name }}</div>
            </div>
            <div class="exercise-right">
                <div class="exercise-options">
                    <div class="exercise-thumbnail">
                        <div class="exercise-thumbnail-text"> Use Video Thumbnail</div>
                        <div class="exercise-thumbnail-toggle"><i class="fas fa-toggle-off toggleActiveIcon toggleOff"
                                aria-hidden="true"></i></div>
                    </div>
                    <div class="exercise-public">
                        <div class="exercise-public-text"> Public</div>
                        <div class="exercise-public-toggle"><i class="fas fa-toggle-off toggleActiveIcon toggleOff"
                                aria-hidden="true"></i></div>
                    </div>
                    <div class="exercise-remove-wrapper">
                        <div class="exercise-remove" id="{{ item.id }}">+</div>
                    </div>
                </div>
                <div class="exercise-url editable" id="{{ item.id }}">
                    <div class="exercise-url-text">{{ item.video }}</div>
                    <div class="exercise-open-url">
                        <a href="{{ item.video }}" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="exercise-card-description" id="{{ item.id }}">
            <div class="exercise-description-text editable" style="display: none;">
                {{ item.description }}
            </div>
            <div class="exercise-description-icon">
                <i class="fa-solid fa-ellipsis"></i>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}