{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/select-navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/graph.css' %}">

<div class="graph-display">
  <div class="y-axis">
    <div class="y-selector">
      <div class="y-arrow"><i class="fa-solid fa-chevron-left left-y"></i></div>
      <div class="color-marker"></div>
      <div class="y-arrow"><i class="fa-solid fa-chevron-right right-y"></i></div>
    </div>
    <div class="label-value" style="--xPos:89%">90</div>
    <div class="label-value" style="--xPos:79.5%">80</div>
    <div class="label-value" style="--xPos:70.2%">70</div>
    <div class="label-value" style="--xPos:60.8%">60</div>
    <div class="label-value" style="--xPos:51.4%">50</div>
    <div class="label-value" style="--xPos:42%">40</div>
    <div class="label-value" style="--xPos:32.6%">30</div>
    <div class="label-value" style="--xPos:23.2%">20</div>
    <div class="label-value" style="--xPos:13.7%">10</div>

  </div>
  <div class="graph-wrapper">
    <div class="graphContent">
      <ul class="line-chart">
      </ul>
    </div>
    <div class="dayLabelWrapper">
        <div class="dayLabel">Mon </div>
        <div class="dayLabel">Tue</div>
        <div class="dayLabel">Wed </div>
        <div class="dayLabel">Thur </div>
        <div class="dayLabel">Fri </div>
        <div class="dayLabel">Sat </div>
        <div class="dayLabel">Sun </div>
    </div>
  </div>
  <div class="side-opts-tabs">
    <div class="tabs">
      <div class="fields-tab tab"><i class="fa-solid fa-list-check"></i></div>
    </div>
  
  </div>
  <div class="side-content">
    <div class="field-options"></div>
  </div>

</div>

<script>
  var passedDate = "{{ date }}";
</script>
<script src="{% static 'js/graph.js' %}"></script>
{% endblock %}