{% extends "trainerInterface/nav.html" %} {% load static %} {% block nav-dataTracking-prog %}
<a class="nav-link" href="{% url 'dailyTracking' %}" style="background-color: #777777; color:  #f4eb49; border-radius: 5px">
    <div class="iconWrapper">
        <i class="fas fa-clipboard-list sidebarIcon" aria-hidden="true" style="color:  #f4eb49"></i>
    </div>
    <div class="textWrap" style="color:  #f4eb49">
        Data Tracking
    </div>
</a>
{% endblock %} {% block content %}

<head>
    <script src="https://kit.fontawesome.com/d4150a90f9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/graph.css' %}">

</head>
<div class="xaxis">

</div>

<script src="{% static '/assets/js/jquery.min.js' %}"></script>
<script src="/static/assets/js/popper.js"></script>
<script src="{% static '/assets/js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="{% static '/bootstrap/js/bootstrap.js' %}"></script>
{% endblock %}