<!DOCTYPE html>
{% load static %}
{% load my_filters %}
<html lang="en">
{% block title%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <!-- <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Syncopate">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/exercises.css' %}">
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/popper.js"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    <link rel="shortcut icon" href="/media/images/logoSmall.png" />
    <script src="https://kit.fontawesome.com/b70856ef37.js" crossorigin="anonymous"></script>

    <script>
        previousHref = "{{ request.session.href }}";
        var csrf_token = "{{ csrf_token }}";
    </script>


</head>
{% endblock %}

{% block navbar %}
<title>Peak</title>

<body>
    <nav class="navbar">

        <div class="content-title">

        </div>
        <form class="dropdown-form" action="" method="post">
            {% csrf_token %}
            <div class="select-div">
                {{ form }}
            </div>
            <input type="submit" name="change_client">
        </form>


    </nav>
    <div class="container">

        <div class="row">
            <nav class="sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <div class="sidebar-header">
                            <img class="logo-image" src="/media/images/logoSmall.png">
                            <div class="company-title">PEAK</div>
                        </div>
                        <li class="nav-item">
                            <div class="sectionTitle">
                                Client
                            </div>
                        </li>
                        <li class="nav-item">

                            <div class="nav-link" href="{% url 'dashboard' %}" title="Dashboard">
                                <div class="iconWrapper">
                                    <i class="fa-solid fa-house sidebar-icon" aria-hidden="true"></i>
                                </div>
                                <div class="textWrap">Dashboard</div>
                            </div>

                        </li>
                        <li class="nav-item">

                            <div class="nav-link" href="{% url 'trainplan' %}" title="Training Plan">
                                <div class="iconWrapper">
                                    <i class="fa-solid fa-calendar-plus"></i>
                                </div>
                                <div class="textWrap">Training Plan</div>
                            </div>


                        </li>
                        <li class="nav-item">

                            <div class="nav-link" href="{% url 'trainprog' %}" title="Training Progress">
                                <div class="iconWrapper">
                                    <i class="fa-regular fa-calendar-check sidebar-icon" aria-hidden="true"></i>
                                </div>
                                <div class="textWrap">Training Progress</div>
                            </div>


                        </li>
                        <li class="nav-item">

                            <div class="nav-link" href="{% url 'graph' %}" title="Weekly Tracking">
                                <div class="iconWrapper">
                                    <i class="fa-solid fa-chart-line"></i>
                                </div>
                                <div class="textWrap">Weekly Tracking</div>
                            </div>

                        </li>
                        <li class="nav-item">

                            <div class="nav-link" href="{% url 'dataTracking' %}" title="Tracking Fields">
                                <div class="iconWrapper">
                                    <i class="fa-solid fa-clipboard-list sidebar-icon" aria-hidden="true"></i>
                                </div>
                                <div class="textWrap">Tracking Fields</div>
                            </div>


                        </li>
                        <li class="nav-item">

                            <div class="nav-link" href="#" title="Chat">
                                <div class="iconWrapper">
                                    <i class="fa-regular fa-comment-alt sidebar-icon" aria-hidden="true"></i>
                                </div>
                                <div class="textWrap">Chat</div>
                            </div>

                        </li>
                        <li class="nav-item">
                            <div class="sectionTitle">General</div>
                        </li>
                        <li class="nav-item">

                            <div class="nav-link" href="{% url 'exercises' %}" title="Exercises">
                                <div class="iconWrapper">
                                    <i class="fa-solid fa-dumbbell sidebar-icon" aria-hidden="true"></i>
                                </div>
                                <div class="textWrap">Exercises</div>
                            </div>


                        </li>
                        <li class="nav-item">

                            <div class="nav-link" href="{% url 'clients' %}" title="Clients">
                                <div class="iconWrapper">
                                    <i class="fa-solid fa-users sidebar-icon" aria-hidden="true"></i>
                                </div>
                                <div class="textWrap">Clients</div>
                            </div>


                        </li>
                    </ul>
                </div>
            </nav>
            <div class="content-backing">


                {% block content %}

                {% endblock %}


            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->



    <!-- <script src="/static/bootstrap/js/bootstrap.min.js"></script> -->


</body>

</html>
{% endblock %}