<!DOCTYPE html>
{% load static %}

<html lang="en">
{% block title%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Syncopate">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="shortcut icon" href="/media/images/logoSmall.png" />
    <script src="https://kit.fontawesome.com/d4150a90f9.js" crossorigin="anonymous"></script>



</head>
{% endblock %}

{% block navbar %}
<title>Nav</title>

<body>
    <nav class="navbar">

        <div class="contentTitle">
            Dashboard
        </div>
        <form class="dropdown-form" action="" method="post">
            {% csrf_token %}
            <div class="select-div">
                {{ form }}
            </div>
            <input type="submit" name="change_client">
        </form>


    </nav>
    <div class="container">

        <div class="row">
            <nav class="sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <div class="sidebar-header">
                            <img class="logo-image" src="/media/images/logoSmall.png">
                            <div class="company-title">PEAK</div>
                        </div>
                        <li class="nav-item">
                            <div class="sectionTitle">
                                Client
                            </div>
                        </li>
                        <li class="nav-item">
                            {% block nav-dashboard %}
                            <a class="nav-link" href="{% url 'dashboard' %}">
                                <div class="iconWrapper">
                                    <i class="fas fa-home sidebarIcon" aria-hidden="true"></i>
                                </div>
                                <div class="textWrap">
                                    Dashboard
                                </div>
                            </a>
                            {% endblock %}
                        </li>
                        <li class="nav-item">
                            {% block nav-train-plan %}
                            <a class="nav-link" href="{% url 'trainplan' %}">
                                <div class="iconWrapper">
                                    <i class="far fa-calendar-alt sidebarIcon" aria-hidden="true"></i>
                                </div>
                                <div class="textWrap">
                                    Training Plan
                                </div>
                            </a>
                            {% endblock %}

                        </li>
                        <li class="nav-item">
                            {% block nav-train-prog %}
                            <a class="nav-link" href="{% url 'trainprog' %}">
                                <div class="iconWrapper">
                                    <i class="far fa-calendar-check sidebarIcon" aria-hidden="true"></i>
                                </div>
                                <div class="textWrap">
                                    Training Progress
                                </div>
                            </a>
                            {% endblock %}

                        </li>
                        <li class="nav-item">
                            {% block nav-dataTracking-prog %}
                            <a class="nav-link" href="{% url 'dailyTracking' %}">
                                <div class="iconWrapper">
                                    <i class="fas fa-clipboard-list sidebarIcon" aria-hidden="true"></i>
                                </div>
                                <div class="textWrap">
                                    Data Tracking
                                </div>
                            </a>
                            {% endblock %}

                        </li>
                        <li class="nav-item">
                            {% block nav-chat %}
                            <a class="nav-link" href="#">
                                <div class="iconWrapper">
                                    <i class="far fa-comment-alt sidebarIcon" aria-hidden="true"></i>
                                </div>
                                <div class="textWrap">
                                    Chat
                                </div>

                            </a>
                            {% endblock %}
                        </li>
                        <li class="nav-item">
                            <div class="sectionTitle">
                                General
                            </div>
                        </li>
                        <li class="nav-item">
                            {% block nav-exercises %}
                            <a class="nav-link" href="{% url 'exercises' %}">
                                <div class="iconWrapper">
                                    <i class="fas fa-dumbbell sidebarIcon" aria-hidden="true"></i>
                                </div>
                                <div class="textWrap">
                                    Exercises
                                </div>
                            </a>

                            {% endblock %}
                        </li>
                        <li class="nav-item">
                            {% block nav-clients %}
                            <a class="nav-link" href="{% url 'clients' %}">
                                <div class="iconWrapper">
                                    <i class="fas fa-users sidebarIcon" aria-hidden="true"></i>
                                </div>
                                <div class="textWrap">
                                    Clients
                                </div>
                            </a>

                            {% endblock %}
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="content-backing">


                {% block content %}
                <div>Nav</div>
                {% endblock %}


            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/popper.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>


</body>

</html>
{% endblock %}