{% load trainPlan_extras %}
{% load static %}

{% block content %}

<script src="{% static 'js/training-plan.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/training-plan.css' %}">

<script>
    var clients = [];
    {% for client in clients %}
    clients.push("{{ client }}");
    {% endfor %}
    cloneClientHtml = "";
    for (index in clients) {
        console.log("{{ request.session.clone_client }}");
        if (clients[index] == "{{ request.session.clone_client }}") {
            cloneClientHtml = cloneClientHtml + `<div class="cloneOption clientCloneOption selectedOption">${clients[index]}</div>`
        } else {
            cloneClientHtml = cloneClientHtml + `<div class="cloneOption clientCloneOption">${clients[index]}</div>`;
        }
    };
    selected_client = "{{ request.session.clone_client }}";
    phaseOptionsHtml = $('.cloneOptions').html();



    var selectedPhase;
    var selectedWeek;
    var phaseStatus = true;
    var weekOpen = "{{ weekOpen }}";
    if (weekOpen == "True") {
        phaseSelected("{{ request.session.selectedPhase }}");
        weekClicked();
    }

</script>


<div class="day-selector-wrapper">
    <div class="day-tile addDayButton">
        <div class="day-tile-word">Add Day</div>
    </div>
</div>
<div class="phaseContent">
    <div class="phaseContentWrapper">
        <div class="daySelectorBar">
            <div class="contentTitle">
                Phase {{ days.0.phase }} Week {{ days.0.week }}
            </div>



            <div class="cloneWeek" title="Clone a week">
                <i class="fas fa-clone cloneWeekIcon" aria-hidden="true"></i>
                <div class="cloneOptionsWrapper" id="cloneOptionsWrapper">
                    <div class="optionHeader">
                        <div class="selectHeaderIconWrapper selected-clone-icon"><i class="fas fa-list selectHeaderIcon"
                                aria-hidden="true"></i></div>
                        <div class="selectHeaderIconWrapper"><i class="fas fa-user selectHeaderIcon"
                                aria-hidden="true"></i></div>
                    </div>

                    <div class="cloneOptions">
                        {% for phase in phases reversed %}
                        {% for week in phase.weeks.all reversed%}
                        <div class="cloneOption" onclick="cloneConfirmation({{ phase.phase }}, {{ week.week }})">
                            Phase {{ phase.phase }} Week {{ week.week }}
                        </div>
                        {% endfor %}
                        {% endfor %}


                    </div>
                </div>
            </div>
            <div class="toggleActive" title="Activate Week">
                <i class="fas fa-toggle-off toggleActiveIcon toggleOff" aria-hidden="true"></i>
            </div>

        </div>
        <div class="tableWrapper">

            {% for day in days %}
            <div class="dayTable" id="Day{{ day.day }}">
                <table id="table{{ day.day }}" class="table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <td class="addEntryButtonWrapper" colspan="6">
                                <div class="dayTitle"> Day {{ day.day }} </div>
                            </td>
                        </tr>
                        <tr style="text-align: center">
                            <th class="exerciseCell">Exercise</th>
                            <th>Reps</th>
                            <th>Weight</th>
                            <th>Sets</th>
                            <th>Comment</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in day.entrys.all|dictsort:"order" %}
                        <tr class="entryRow" id="{{ entry.id }}" style="text-align: center">
                            <td class="exerciseCell exerciseCellName">{{ entry.exercise.name }}</td>
                            <td class="editCell"
                                onclick='editEntry("{{ entry.exercise.name }}", "{{ entry.reps }}", "{{ entry.weight }}","{{ entry.sets }}", "{{ entry.comment }}", "{{ entry.id }}")'>
                                {{ entry.reps }}</td>
                            <td class="editCell"
                                onclick='editEntry("{{ entry.exercise.name }}", "{{ entry.reps }}", "{{ entry.weight }}","{{ entry.sets }}", "{{ entry.comment }}", "{{ entry.id }}")'>
                                {{ entry.weight }}</td>
                            <td class="editCell"
                                onclick='editEntry("{{ entry.exercise.name }}", "{{ entry.reps }}", "{{ entry.weight }}","{{ entry.sets }}", "{{ entry.comment }}", "{{ entry.id }}")'>
                                {{ entry.sets }}</td>
                            <td class="editCell"
                                onclick='editEntry("{{ entry.exercise.name }}", "{{ entry.reps }}", "{{ entry.weight }}","{{ entry.sets }}", "{{ entry.comment }}", "{{ entry.id }}")'>
                                {{ entry.comment }}</td>
                            <td style="width: 50px"><button class="deleteEntryButtonWrapper" type="button" name="button"
                                    onclick="deleteEntry({{ entry.id }})">
                                    <div class="deleteEntryButton">+</div>
                                </button></td>
                        </tr>
                        {% endfor %}

                        <tr class="addEntryButtonWrapper{{ day.day }}">
                            <td id="addentry" class="addEntryButtonWrapper " colspan="6">
                                <button id="add-entry" class="addEntryButton" type="button" name="button"
                                    onclick="toggleAddEntry(selectedPhase, selectedWeek, {{ day.day }})">+</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="bg-modal" id="add-entry-modal" style="display: none;">
    <div class="modal-content">
        <div style="width:100%">
            <div class="AddEntryTitleContainer">
                Add Exercise
            </div>
            <div class="close_addentry">+</div>
        </div>
        <form id="addEntryForm">
            <table class="exerciseTable addEntryTable">
                <tr>
                    <td class="exerciseSelectName label">
                        Select Exercise
                    </td>
                    <td class="exerciseSelect addEntryCell">
                        <input class="exerciseSelectElem addEntryInput" list="exerciseList" id="exercisefield" required>
                        <datalist id="exerciseList">
                            {% for exercise in exercises %}
                            <option value="{{ exercise.name }}">
                                {% endfor %}
                        </datalist>
                    </td>
                </tr>
            </table>
            <table class="repsTable addEntryTable">
                <tr>
                    <td class="repsLabel label">
                        Enter Reps
                    </td>
                    <td class="repsEntry addEntryCell">
                        <input class="addEntryInput" type="text" id="repfield" maxlength="12" required>
                    </td>
                </tr>
            </table>
            <table class="weightTable addEntryTable">
                <tr>
                    <td class="weightLabel label">
                        Enter Weight
                    </td>
                    <td class="weightEntry addEntryCell">
                        <input class="addEntryInput" type="text" id="weightfield" required>
                    </td>
                </tr>
            </table>
            <table class="setTable addEntryTable">
                <tr>
                    <td class="setLabel label">
                        Enter Sets
                    </td>
                    <td class="setEntry addEntryCell">
                        <input class="addEntryInput" type="text" id="setfield" required>
                    </td>
                </tr>
            </table>
            <table class="commentTable addEntryTable">
                <tr>
                    <td class="commentLabel label">
                        Comment
                    </td>
                    <td class="commentEntry addEntryCell">
                        <input class="addEntryInput" type="text" id="commentfield" required>
                    </td>
                </tr>
            </table>

            <div class="EntrySubmitWrapper"><input class="submitAddEntry" type="submit" name="submit" value="Add Entry">
            </div>
        </form>
    </div>
</div>

<div class="bg-modal" id="edit-entry-modal" style="display: none;">
    <div class="modal-content">
        <div style="width:100%">
            <div class="close_addentry">+</div>
            <div class="AddEntryTitleContainer">
                Edit Exercise
            </div>
        </div>
        <form id="editEntryForm">
            <table class="exerciseTable addEntryTable">
                <tr>
                    <td class="exerciseSelectName label">
                        Select Exercise
                    </td>
                    <td class="exerciseSelect addEntryCell">
                        <input class="exerciseSelectElem addEntryInput" list="exerciseList" id="editExerciseField">
                        <datalist id="exerciseList">
                            {% for exercise in exercises %}
                            <option value="{{ exercise.name }}">
                                {% endfor %}
                        </datalist>
                    </td>
                </tr>
            </table>
            <table class="repsTable addEntryTable">
                <tr>
                    <td class="repsLabel label">
                        Enter Reps
                    </td>
                    <td class="repsEntry addEntryCell">
                        <input class="addEntryInput" type="text" id="editRepField">
                    </td>
                </tr>
            </table>
            <table class="weightTable addEntryTable">
                <tr>
                    <td class="weightLabel label">
                        Enter Weight
                    </td>
                    <td class="weightEntry addEntryCell">
                        <input class="addEntryInput" type="text" id="editWeightField">
                    </td>
                </tr>
            </table>
            <table class="setTable addEntryTable">
                <tr>
                    <td class="setLabel label">
                        Enter Sets
                    </td>
                    <td class="setEntry addEntryCell">
                        <input class="addEntryInput" type="text" id="editSetField">
                    </td>
                </tr>
            </table>
            <table class="commentTable addEntryTable">
                <tr>
                    <td class="commentLabel label">
                        Comment
                    </td>
                    <td class="commentEntry addEntryCell">
                        <input class="addEntryInput" type="text" id="editCommentField">
                    </td>
                </tr>
            </table>
            <input type="hidden" id="idField">
            <div class="EntrySubmitWrapper"><input class="submitAddEntry" type="submit" value="Edit Entry"></div>
        </form>
    </div>
</div>


<div class="bg-modal" id="toggle-modal" style="display: none;">
    <div class="modal-content">
        <div style="width:100%">
            <div class="toggleConfirmationMessage">
                Are you sure you want to activate this week?
                <div class="toggleConfirmationSubMessage"> Your client can only see the active week on their mobile
                    application.</div>
            </div>
        </div>
        <form id="toggleWeekForm">

            <input class="submitAddEntry" type="submit" name="submit" value="Activate">
        </form>
    </div>
</div>



{% endblock content%}