{% extends "trainerInterface/nav.html" %}
{% load trainPlan_extras %}
{% load static %}

{% block content %}


    <script type="text/javascript">

        function loadState(id){
            var value = localStorage.getItem(id);
            var x = document.getElementById(id);
            x.style.display = value;
        }
        function hideItem(id) {

          var x = document.getElementById(id);
          var value
          console.log(x.style.display)
          if (x.style.display === "none" || x.style.display === "") {
            value = "block";
          } else {
            value = "none";
          }
          x.style.display = value;
          localStorage.setItem(id, value)
        }
        function hideTable(id) {
          var x = document.getElementById(id);
          if (x.style.display === "none" || x.style.display) {
            x.style.display = "table";
          } else {
            x.style.display = "none";
          }
        }

    </script>
    <style>
        .tableContainer {
            justify-content: center;
            width: calc(80vw);
        }
        .collapsed123{
            display: none;
        }
        .card{
            margin-top: 0px;
            margin-bottom: 10px;
        }
        .phase{
            background: grey;
        }
        .week{
            margin-left: 20px;
            background: lightgrey;
        }
        .table{
        }
        caption{
            caption-side: top;
        }


    </style>
    <div class="tableContainer">
        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
          </div>
        </div>
        {% if request.session.selected_client is None %}
            <div>Select a client</div>
        {% endif %}
        <div class="table-responsive" id = "phase_container" >
        {% for phase in phases reversed %}
            <div class="card phase" onclick="hideItem('phase {{ phase.phase }}')">Phase {{ phase.phase }}</div>
                <div class = "collapsed123" id = "phase {{ phase.phase }}">
                    <script>loadState("phase {{ phase.phase }}")</script>
                    {% for week in phase.weeks.all reversed %}
                        <div  class="card week" onclick="hideItem('phase {{ phase.phase }} week {{ week.week }}')">Week {{ week.week }}</div>
                        <div class = "collapsed123" id = "phase {{ phase.phase }} week {{ week.week }}">
                            <script>loadState("phase {{ phase.phase }} week {{ week.week }}")</script>
                            {% for day in week.days.all %}
                                <table class="table table-striped table-sm collapsed">
                                    <caption>Day {{ day.day }}</caption>
                                    <thead>
                                        <tr>
                                            <th>Exercise</th>
                                            <th>Reps</th>
                                            <th>Weight</th>
                                            <th>Sets</th>
                                            <th>Comment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for entry in day.entrys.all %}
                                        <tr>
                                            <td>{{ entry.exercise.name }}</td>
                                            <td>{{ entry.reps }}</td>
                                            <td>{{ entry.weight }}</td>
                                            <td>{{ entry.sets }}</td>
                                            <td>{{ entry.comment }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endfor %}
                        </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <script src="{% static '/assets/js/jquery.min.js' %}"></script>
    <script src="/static/assets/js/popper.js"></script>
    <script src="{% static '/bootstrap/js/bootstrap.js' %}"></script>
{% endblock content%}
