 {% load static %} {% load signup_filters %} {% block content %}

<head>
    <script src="https://kit.fontawesome.com/d4150a90f9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/signup-client.css' %}">

</head>
<div id="content-container" class="container p-none">

    <div class="lgn-container">
        <center>

            <form id="login-form" method="post">
                <img src="/media/images/logo-1.png">
                <h1>Create Your Account</h1>
                {% if username|check_link %}
                <h2>Start your training with {{ first_name }} {{ last_name }}!</h2>
                {% endif %} {% csrf_token %} {% for field in form %}
                <div class="form-group {% if field.errors %}has-error{% endif %}" id="group_{{ field.name }}">
                    <label for="id_{{ field.name }}" class="control-label">{{ field.label }}</label> {% if field.errors %} 
                    {{ field.errors}}{% endif %} 
                    {% if field.name == "password" or field.name == "confirm_password" %}
                    <div class="password-group">

                        {{ field }}
                        <i class="fas fa-eye showIcon"></i>


                    </div>
                    {% else %}
                    {{ field }}
                    {% endif %}
                </div>
                {% endfor %} {% if form.errors %}
                <p class=" label label-danger">
                    sign up unsuccessful try again
                </p>
                {% endif %} {% if username|check_link %}
                <center>
                    <input type="submit" value="Create Account" class="btn btn-primary pull-right" />
                </center>
                {% else %}
                <p class=" label label-danger">Incorrect sign up link, check again!</p>
                {% endif %}
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </center>
    </div>
</div>
<script src="{% static '/assets/js/jquery.min.js' %}"></script>
<script src="/static/assets/js/popper.js"></script>
<script src="{% static '/assets/js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="{% static '/bootstrap/js/bootstrap.js' %}"></script>
<script type="text/javascript">

    {% comment %} $(".showIcon").click(function(){
        console.log($(this).parent().children('input').first().attr('type'));
        if($(this).parent().children('input').first().attr('type') = "password"){
            $(this).parent().children('input').first().attr('type', 'text');
        }
        else{
            $(this).parent().children('input').first().attr('type', 'password');
        }
    }); {% endcomment %}
    $(".showIcon").click(function(){
        element = $(this).parent().children('input').first();
        if(element.attr('type') == "password"){
            element.attr('type', 'text');
        }
        else{
            element.attr('type', 'password');
        }
    });
</script>
{% endblock content %}