
body {
    background-color: #444444;
    font-family: 'Ubuntu', sans-serif;
    padding: 100px;
}
div.lgn-container {
    justify-content: center;
    background-color: #606060;
    margin: auto;

    width: 40%;
    height: 95%;
    padding: 10px;
    border-radius: 25px;
}
form{
    margin: auto;
    width: 50%;
    padding: 0;
}
i[id='userIcon'] {
    font-size: 5vw;
    padding: 10px;
}
h1 {
    font-size: 2vw;
    padding-top: 10px;
    margin: 0;
}
input:not([type='submit']){
  display: block;
  width: 16vw;
}
label{
  text-align: left;
  font-size: 1vw;
  float: left;
}
